<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../dist/vue.min.js"></script>
</head>
<style>
    ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
    }


</style>
<body>
    <script type="text/v-template" class="cascader">
        234234
        <ul v-for="item in treeData" :key="item.key">
            <li>{{item.title}}</li>
        </ul>
        <cascader :treeData="item.children" v-for="item in treeData" :key="item.key"></cascader>
    </script>
    <div id="app">
        <cascader :treeData="treeData"></cascader>
    </div>

</body>
<script src="./index.js"></script>
</html>